:root {
  --main-font-size: 12px;
  --secondary-font-size: 10 px;
  --border-radius: 8p;
}

body {
  background-color: aquamarine;
}

.Navbar-Buttons {
  margin-top: 2em;
  margin-right: 1rem;
  text-align: right;
  overflow: hidden;
}

.btn-dark {
  background-color: #1f322a;
}

.btn-primary {
  background-color: 	#9ff2fb;
  color: #1f322a;
  margin-right: 0.5rem;
}

.logo {
  width: 20%;
}

a.image-link {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.hospital-card {
  display: flex;
  justify-content: center;
  margin: 1rem 10rem;
}

.card {
  display: flex;
  justify-content: space-between;
  font-size: var(--main-font-size);
  width: 20%;
  margin: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid #fb9fc4;
}

.card-header:first-child {
  background-color: #fde2ed;
  margin: 0.2rem;
  border-radius: var(--border-radius);
}

.card-body {
  font-size: var(--secondary-font-size);
  padding: 0.3rem;
}

.loader {
  display: flex;
  justify-content: center;
}

.error-img {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.error-message {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hospital-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 5rem;
  }
  .logo {
    width: 40%;
  }
  .card {
    width: 70%;
    justify-content: center;
  }
  .hospital-card {
    margin: 0 auto;
  }

  .error-message {
    font-size: 15px;
  }
}