:root {
  --main-font-size: 10px;
  --secondary-font-size: 8px;
  --border-radius: 8px;
}

/* * {
  max-width: 700px;
  margin: 0 auto;
} */

body {
  background-color: aquamarine;
}

.Navbar-Buttons {
  margin-top: 2em;
  text-align: right;
  overflow: hidden;
}

.logo {
  width: 40%
}

.Logo-Block {
  padding-top: 6em;
  text-align: center;
}

.hospital-card {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  font-size: var(--main-font-size);
  width: 15%;
  margin: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid #fb9fc4;
}

.card-header:first-child {
  background-color: #fde2ed;
  margin-top: 0.2rem;
  border-radius: var(--border-radius);
}

.card-body {
  font-size: var(--secondary-font-size);
  padding: 0.3rem;
}